/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

//body { padding-top: 50px; }
body {
  //background-color: #8d3232;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }

  .menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
  }

  .menu:before {
    content: "[";
  }

  .menu:after {
    content: "]";
  }

  .menu > li {
    display: inline;
  }

  .menu > li:before {
    content: "|";
    padding-right: 0.3em;
  }

  .menu > li:nth-child(1):before {
    content: "";
    padding: 0;
  }

  .error { display: block; float: none; color: red; padding-left: 11.5em; vertical-align: top; }
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 60px;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.toggled #page-content-wrapper {
  .overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  .toggled #page-content-wrapper {
    .overlay {
      display: none;
    }
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

@mixin linear-gradient($first,$second) {
  background: rgba(0,0,0,0); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($first, $second); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($first, $second); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($first, $second); /* For Firefox 3.6 to 15 */
  background: linear-gradient($first, $second); /* Standard syntax */
}
@mixin all-transition($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

.topGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 150px;
  z-index: 990;
  @include linear-gradient( rgba(0,0,0,1) , rgba(0,0,0,0) );
}

.slides_control .img{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 450px;
  padding-top: 45%;
  background-position: center;
  background-size: cover;
}
.slides_control {
  width: 100%;
  overflow: hidden;
}

.slides_control.slides_review {
  position: relative;
  padding-top: 0 !important;
  //border: 1px solid #999;
  overflow: visible;
  .content {
    padding: 0px 10px;
    min-height: 250px;
  }
  .carousel-control {
    width: 75px;
    background-image: none;
    opacity: 1;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-control span {
    text-shadow: none;
    text-align: center;
    font-size: 50px !important;
    width: 30px;
    height: 60px;
    color: rgba(0,0,0,0.2);
    top: calc(50% - 30px);
    &.icon-next {
      right: 9px;
    }
    &.icon-prev {
      left: 9px;
    }
    &:hover {
      color: rgba(0,0,0,1);
    }
  }
}

.carousel-caption {
  padding-bottom: 80px;
  h3 {
    font-size: 30px;
    text-shadow: 0 0 7px rgba(0,0,0,0.85);
  }
  p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 0 5px rgba(0,0,0,1);
  }
}
.carousel-indicators {
  bottom: 60px;
  li {
    margin: auto 3px;
  }
}
.carousel-control span {
  font-size: 120px !important;
}

.xs-only {
  display: none !important;
}
.xs-hide {
  display: flex !important;
}
@media screen and (max-width: 420px) {
  .xs-only {
    display: flex !important;
  }
  .xs-hide {
    display: none !important;
  }
}


/* TOP BAR */
.wat-topBar {
  position: fixed;
  padding: 20px 0;
  width: 100%;
  background-color: rgba(0,0,0,0.95) !important;
  z-index: 888;
  .topLogo {
    width: 100%;
    height: 80px;
    margin: 5px 0 5px 0;
    background-image: url("images/logo_text.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 80px;
    @include all-transition(0.5s);
  }
  .smLogo {
    display: none !important;
  }
  &.toggled {
    .topLogo {
      height: 0px;
    }
    .smLogo {
      display: inline !important;
      &::after {
        content: "";
      }
      img {
        width: 50px;
      }
    }
  }
  .topMenu {
    margin: 10px 0;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
    }
    ul li {
      display: inline;
      &:last-child::after {
        content:"";
      }
      &::after {
        content:"/";
        color: #fff;
      }
    }
    ul li a {
      text-decoration: none;
      margin: 0 30px;
      padding-left: 2px;
      padding-right: 2px;
      color: rgba(255,255,255,0.6);
      span {
        margin-right: 5px;
        color: rgba(255,255,255,0.85);
      }
    }
    ul li a:hover {
      padding-bottom: 3px;
      border-bottom: 1px solid #FFF;
      color: #fff;
    }
    .leftMenu {
      display: inline;
      border-right: 1px solid rgba(255,255,255,0.35);
      margin-right: 15px;
    }
    .rightMenu {
      position: relative;
      top: 2px;
      a {
        margin: 0 10px;
        color: #FFF;
        font-weight: bold;
        span {
          position: relative;
          bottom: 4px;
        }
        &.cart {
          color: #5d69ff !important;
          &:hover {
            border-color: #5d69ff;
          }
        }
        &.member {
          color: #ff893d !important;
          &:hover {
            border-color: #ff893d;
          }
        }
        i {
          margin-right: 5px;
          font-size: 24px;
        }
      }
    }
  }
}
/* END TOP BAR */

/* SECTION STEP */
.section-step {
  width: 100%;
  min-height: 250px;
}
.collectCard {
  position: relative;
  top: -45px;
  .card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    margin: 10px 0;
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,0.15);
    &.other {
      background-color: #1a1c38;
      &:hover {
        cursor: pointer;
        div {
          color: #3b3f7f;
          i {
            color: #3b3f7f;
          }
        }
        background-color: #000;
      }
      div {
        position: absolute;
        top: calc(50% - 85px);
        right: calc(50% - 75px);
        text-align: center;
        width: 150px;
        color: rgba(255,255,255,0.75);
        font-size: 14px;
        z-index: 10;
        img {
          margin-left: 5px;
          width: 100%;
          color: #FFF;
        }
        .text-other {
          position: relative;
          color: rgba(255,255,255,0.75);
          background-color: #3b3f7f;
          padding: 5px 8px;
        }
      }
    }
    .img {
      position: absolute;
      top: 5px;
      bottom: 5px;
      left: 5px;
      right: 5px;
      background-size: cover;
      border-radius: 3px;
      z-index: 10;
    }
    .detail {
      position: absolute;
      left: -6px;
      right: -6px;
      bottom: 25px;
      text-align: center;
      color: #FFF;
      background-color: #000;
      z-index: 15;
      div {
        float: right;
      }
      .name {
        padding: 10px;
        padding-right: 20px;
        font-weight: bold;
        font-size: 16px;
        color: #FFF;
      }
      .price {
        padding: 5px 10px;
        font-size: 14px;
        font-weight: bold;
        background-color: #32528d;
        color: rgba(255,255,255,0.95);
        span {
          font-weight: normal;
          font-size: 10px;
          color: rgba(255,255,255,0.25);
          display: block;
        }
      }
      &::before {
        content: "";
        position: absolute; left: 0px; top: 100%;
        z-index: -1;
        border-right: 3px solid #232323;
        border-left: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #232323;
      }
      &::after {
        content: "";
        position: absolute; right: 0px; top: 100%;
        z-index: -1;
        border-right: 3px solid transparent;
        border-left: 3px solid #22375f;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #22375f;
      }
    }
    .cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      padding-top: calc(50% - 15px);
      text-align: center;
      opacity: 0;
      z-index: 990;
      background-color: rgba(0,0,0,0.5);
      transition: visibility 0s, opacity 0.5s linear;
    }
    &:hover {
      .cover {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
/* END SECTION STEP */

.ribbon {
  font-size: 16px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 50%;

  position: relative;
  background: #ba89b6;
  color: #fff;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #986794;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #804f7c transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

/* CARD REVIEW */
.card-review {
  position: relative;
  margin: 10px 10px 20px 10px;
  min-height: 210px;
  border: 1px solid #DDD;
  header {
    position: relative;
    top: -10px;
    div {
      float: left;
    }
    .avatar {
      margin: 0 10px;
      padding: 5px;
      width: 65px;
      height: 65px;
      background-color: #FFF;
      border: 1px solid #DDD;
      .inAvatar {
        width: 53px;
        height: 53px;
        border-radius: 2px;
        background-size: cover;
      }
    }
    .fullname {
      padding-top: 20px;
      font-weight: bold;
      color: #666;
      span {
        position: relative;
        text-align: left;
        font-weight: normal;
        display: block;
        font-size: 10px;
        color: #BBB;
      }
    }
  }
  .message {
    &::after {
      content: '"';
      font-weight: bold;
      color: #CCC;
    }
    &:before {
      content: '"';
      font-weight: bold;
      color: #CCC;
    }
    padding: 0 20px;
    font-size: 14px;
    color: #888;
  }
  footer {
    padding: 10px 20px;
    text-align: left;
    .label {
      position: relative;
      padding-left: 20px;
      color: rgba(255, 255, 255, 0.9);
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 18px;
        padding-top: 3px;
        content: "+ ";
        color: rgba(255, 255, 255, 0.5);
        background-color: #000;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }
    }
  }
}
/* END CARD REVIEW */

hr.hr {
  clear: both;
  height: 1px;
  color: rgba(0,0,0,0.25);
}


/* section-article */
.section-article {
  top: 0 !important;
  .btn {
    font-size: 10px;
    color: #AAA;
    i {
      color: #333;
      font-size: 14px;
      display: block;
    }
  }
  .header {
    padding: 10px 20px;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
    color: #666;
    span {
      position: relative;
      top: -3px;
      padding: 15px;
      color: #FFF;
      font-size: 20px;
      background-color: #333;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
    }
    a {
      width: 100%;
    }
  }
  .card-article {
    overflow: auto;
    margin-top: 20px;
    padding: 5px;
    background-color: #FFF;
    border: 1px solid #DDD;
    .tag {
      position: absolute;
      top: 10px;
      left: 35px;
      padding: 10px 10px;
      background-color: #8d3232;
      border-bottom: 5px solid #531e1e;
      &::after {
        content: "";
        position: absolute; right: -12px; top: 0px;
        z-index: -1;
        border-right: 6px solid transparent;
        border-left: 6px solid #531e1e;
        border-top: 6px solid transparent;
        border-bottom: 6px solid #531E1E;
      }
      .day {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        color: rgba(255,255,255,1);
      }
      .month {
        margin-bottom: 5px;
        font-size: 16px;
        line-height: 20px;
        color: rgba(255,255,255,0.45);
      }
      .year {
        font-size: 12px;
        color: rgba(255,255,255,0.25);
      }
    }
    .imgArticle {
      width: 100%;
      height: 300px;
      border-radius: 5px;
      background-size: cover;
      &.small {
        height: 220px;
      }
      > .content {
        padding-top: 120px;
        height: 100%;
        background-color: rgba(0,0,0,0.75);
        border-radius: 5px;
        header {
          color: #FFF;
        }
      }
    }
    .content {
      padding: 10px;
      header {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: bold;
        line-height: 28px;
        color: #333;
        span {
          display: block;
          font-size: 12px;
          font-weight: normal;
          color: #999;
        }
      }
      p {
        color: rgba(0,0,0,0.65);
      }
    }
  }
}
.card.small {
  position: relative;
  padding: 0;
  height: 100px;
  .cover {
    a {
      color: #FFF;
    }
    padding-top: 35px;
  }
}
/* END section-article */

#page-content-wrapper {
  > footer {
    width: 100%;
    height: 75px;
  }
}


/* modal */
.modal {
  background-color: rgba(0,0,0,0.75);
}
.modal.member {
  .modal-content {
    left: calc(50% - 150px);
    max-width: 300px !important;
    height: 330px;
    margin-top: calc(50% - 165px);
  }
}



/* ARTICLE */
.coverArticle {
  width: 100%;
  height: 450px;
  background-image: url("images/il_fullxfull.333936677.jpg");
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 450px;
    background-color: rgba(0,0,0,0.65);
    z-index: 1;
  }
  .textArticle {
    position: absolute;
    top: 250px;
    text-align: center;
    width: 100%;
    color: rgba(255,255,255,0.8);
    font-size: 60px;
    span {
      font-size: 50px;
      color: rgba(255,255,255,0.5);
    }
    z-index: 2;
  }
  .textProduct {
    padding-top: 210px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    .text {
      position: relative;
      color: rgba(255,255,255,0.8);
      font-size: 40px;
      z-index: 2;
      span {
        font-size: 30px;
        color: rgba(255,255,255,0.5);
      }
    }
    .input-group {
      margin: 0 auto;
      max-width: 650px;
    }
  }
}
.containerArticle {
  position: relative;
  top: -50px;
  z-index: 5;
  .listArticle {
    padding: 15px 0;
    position: relative;
    top: 70px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      border-left: 1px solid #DDD;
    }
  }
}
/* END ARTICLE */
